@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/

}


/*******************************************************************************************************************
*******************************************************************************************************************
******* BARRA NAVEGACION GENERAL *************************************************************************************/


.container{
    width: 100%;
}
.navbar{
    display: block;
    min-height: 80px;
    margin-top: 10px;
    height: relative;
}

.navbar a{

    font-weight: 600;
    color: black;
    font-size: 18px;
    text-decoration: none;

}
.logo-header{
    display: block;
    width: 33%;
    text-align: center;
}

.nav{
    display: block;
    width: 33%; 
}

.nav li, .nav-derecha li{
    margin: 0 20px 0 20px;
    text-align: center;
    list-style: none;
    display: inline-block;
}

/*
.active, .active a{
    padding-bottom: 5px;
    border-bottom: solid 3px #FF8A00;
    color: #FF8A00;
}
*/

.nav li:after {
 display:block;
 content: '';
 border-bottom: solid 3px #FF8A00;  
 transform: scaleX(0);  
 transition: transform 250ms ease-in-out;
}

.nav li:hover:after {
    transform: scaleX(1); 
}

.navbar a:hover{
    text-decoration: none;
    color: #FF8A00;
}

.nav-derecha {
    text-align: right;
    display: block;
    width: 33%;
}
.nav-derecha a{
    font-size: 16px;
    color: #666666;
}

.active-tienda {
    visibility: hidden;
}


/*******************************************************************************************************************
*******************************************************************************************************************
******* BARRA NAVEGACION TIENDA *************************************************************************************/

.nav-tienda{
    background-color: #FF8A00;
    margin-bottom: 20px;
}
.naranja{
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}
.naranja ul{
    height: inherit;
    width: inherit;

    text-align: center;
}
.naranja li{
    display: inline-block;
    margin: 0 1.5% 0 1.5%;
}
.naranja a{
    padding: 0;
    margin: 0 auto;
    height: 50px;
    display: table-cell;
    vertical-align: middle; 
    color: white;
    font-weight: 300;

}

.naranja li:after {
 display:block;
 content: '';
 border-bottom: solid 2px white;  
 transform: scaleX(0);  
 transition: transform 250ms ease-in-out;
}
.naranja li:hover:after {
    transform: scaleX(1); 
}

.naranja a:hover{
    text-decoration: none;
    color: #CCCCCC;
}


/*******************************************************************************************************************
********************************************************************************************************************
******************** PRODUCTOS TIENDA ******************************************************************************/


.titulo-main{
    text-align: center;
    font-weight: 600;
    margin: 25px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.bloque >div{
    width: 250px;
    height: 300px;
    margin: 0 10px 25px 10px;   
    /*    background-color: #f2f2f2;*/
}

.container-bloque{   
    display: block;
    height: inherit;
    width: inherit;
    color: black;
    /*box-shadow: 1px 1px 5px #f2f2f2;*/
    margin: 0 auto;
    text-align: center;
}

.container-bloque ul{
 list-style-type: none;
 margin: 0;
 padding: 0;
}

.container-bloque li{
    font-weight: 400;
    list-style: none;
    font-size: 16px;
    text-align: center;
}

.bloque img{
    text-align: center;
    margin: 0 auto;
}

.bloquefoto{
    width: inherit;
    text-align: center;
    margin-bottom: 10px;
}

.bloque-precio a{
    color: #FF8A00;
    font-weight: 300;
}

.tituloProducto a{
    font-weight: 400;
    font-size: 17px;
}

.boton{
    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 25px ;
    margin: 0 auto;
}

.bt-comprar li{
    display: inline-block;
}

.bt-comprar {
    background-color: #cccc00;
}

.bt-comprar a{
    width: inherit;
    height: inherit;
    color: white;
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    display: table-cell;
    vertical-align: middle; 
}


/*******************************************************************************************************************
*******************************************************************************************************************
******* PRODUCTO DETALLE ******************************************************************************************/

.migas{
    display:block;
    height: 20px;
    margin-bottom: 20px;
}
.migas a{
 text-decoration: none;
}


.prod-detalle  >div{
    width: 500px;
    min-height: 600px;
    /*    background-color: #f2f2f2;*/
}

.prod-detalle{
    width: inherit;
    height: relative;
    margin-bottom: 50px;
}

.container-fotos{
    width: 550px;
    /*    background-color: red;*/
}
.container-datos{
    width: 550px;
    /*   background-color: pink;*/
}
.foto-grande{
    width: 100%;
    height: 450px;
    background-color: grey;
    overflow: hidden;
    border: solid 1px #ccc;
    background-color: white;
}
.foto-grande img{
    width: inherit;
    height: auto;
    justify-content: center;

}
.foto-pequeñas{
    display: flex;
    flex-wrap: wrap;
    height: 140px;
    width:100%;
    margin-top: 10px;
    overflow: hidden;
}
.foto-pequeñas >div{
    width: 30%;
    margin: 0 auto; 
    padding: 0;
    border: solid 1px #ccc;
    /*background-color: white;    */
    overflow: hidden;
    
}
.foto-pequeñas img{
    width: 170px;
    height: auto;
}

.container-datos{
    padding: 0 20px 0 30px;
    width: 100%;
}

.container-datos h1{
    font-weight: 900;
    font-size: 30px;
    color: black;
    text-align: left;
}
.container-datos p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.precio-grande {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #FF8A00;
    margin-bottom: 20px;
}

.bt-lateral{
    display: block;
    vertical-align: left;
    color: #FF8A00;
    margin-bottom: 20px;
}


.boton-buy input[type=submit] {
  background-color: #cccc00; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px ;
  margin-bottom: 20px;
}


/***************  SNIPET BOTON **************************/
#myform {
    display: block;
    text-align: left;
    padding: 5px;
    margin: 2%;
    margin-bottom: 30px;
    border: solid 1px #ccc;
    width: 120px;
    border-radius: 5px;
}
#myform2 {
    display: block;
    text-align: center;
    padding: 5px;
    margin: 2%;
    margin-bottom: 30px;
    border: solid 1px #ccc;
    width: 120px;
    border-radius: 5px;
}
.qty {
    width: 40px;
    height: 25px;
    text-align: center;
    border:none;
}

.rec{
  text-align: center;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
}
#cantidad input{
    font-weight: 600;
}

input.qtyplus { 
    width:25px; 
    height:25px;
    border:none;
}
input.qtyminus {
    width:25px; 
    height:25px;
    border: none;
}


/*******************************************************************************************************************
*******************************************************************************************************************
******* FINALIZAR PEDIDO ******************************************************************************************/


.prod-comprar  >div{
    width: inherit;
    height: relative;
    margin: 15px 0 15px 0;
}
.prod-comprar{
    width: inherit;
    height: relative;
    padding-bottom: 120px;
}
.prod-comprar h1{
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}

.producto-cesta{
    width: 80%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow: hidden;

}
.producto-cesta>div{
    width: relative;
    height: inherit;
    margin-right: 50px;
}


.items-prod{
    width: relative;
    height: relative;
    display: inline-block;

}
.prod-dentro{
    width: 200px;
    text-align: center;
}

.img-referencia{
    display: block;
    margin: 0 auto;
    width: 200px;
    overflow: hidden;
}
.img-referencia img{
    width: 200px;
    height: auto;
}

.items-prod p, .items-prod h2{
    text-align: left;
}
.items-prod h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    font-size: 20px;
}
.items-prod p{
    font-size: 12px;
}

.items-confirmar{
    text-align: right;
}

.confirmar input[type=submit]{
    background-color: black;
}


/*******************************************************************************************************************
*******************************************************************************************************************
******* RESULTADO ******************************************************************************************/

.container-final{
    min-height: 700px;
}





/*******************************************************************************************************************
*******************************************************************************************************************
******* CONTENIDO CESTA ******************************************************************************************/

.cesta-det{
    width: 100%;
    min-height: 650px;
}

.cistella-contingut{
    width: 80%;
    height: relative;
    min-height: 200px;
    margin: 0 auto;
}

.cistella-contingut ul{
    text-align: right;
}

.cistella-contingut li{
    display: inline-block;
    text-decoration: none;
    margin: 20px;
}

.cistella-contingut h3{
    text-align: center;
    font-weight: 600;
    margin: 25px;
}

.nav-cesta{
    display: block;
    text-align: right;
    text-decoration: none;
    margin-bottom: 20px;
}


.producto-cesta-lista{
    width: 80%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow: hidden;
}
.producto-cesta-lista>div{
    width: relative;
    height: inherit;
    margin-right: 30px;
}

.botones{
    display: block;
    text-align: right;
    text-decoration: none;
    margin-bottom: 20px;
}